(
    archetypes: [
        (
            id: 0,
            name: "Herbivore",
            color: (60, 210, 80),
            diet: Herbivore,
        ),
        (
            id: 1,
            name: "Carnivore",
            color: (230, 65, 55),
            diet: Carnivore,
        )
    ]
)
